.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.game-field {
    border: solid 1px black;
    width: 600px;
    height: 600px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.square {
    background: grey;
    width: 80px;
    height: 80px;
    margin: 10px;
}

.wrong {
    opacity: 0;
}

.right {
    background: green;
    border-radius: 50%;
}

.counter {
    margin: 0;
}

.reset-btn {
    background: royalblue;
    outline: none;
    border: none;
    font-size: 32px;
    color: white;
    padding: 5px 10px;
    margin-top: 20px;
}

.reset-btn:active {
    background: dodgerblue;
}